.menuSlide{
    position    :fixed;
    z-index     :999;
    top         :0px;
    left        :0px;
    right       :0px;
    bottom      :0px;
    /*
    background-color:rgba(10,10,10,0.3);
    */
    transition: .3s;
}

.menuSlide.close{
    left:100%;
}